@font-face {
  font-family: 'Helvetica Neu';
  src: url('../fonts/helveticaneue/HelveticaNeue.ttf');
  src: url('../fonts/helveticaneue/Helvetica\ Neu\ Bold.ttf');
  src: url('../fonts/helveticaneue/HelveticaNeue\ Light.ttf');
  src: url('../fonts/helveticaneue/HelveticaNeue\ Medium.ttf');
  src: url('../fonts/helveticaneue/HelveticaNeueIt.ttf');
  src: url('../fonts/helveticaneue/HelveticaNeue\ Thin.ttf');
}
